/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
  font-family: 'MaximumSecurity';
  src: url('MAXIMUMSECURITY.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f1f1f1;
  color: #555;
  font-family: Arial, sans-serif;
}

*::selection {
  background: #666;
  color: #eee;
}

*::-moz-selection {
  background: #666;
  color: #eee;
}

header {
  background-color: #333;
  background-image: url(back.jpg);
  width: 100%;
}

header > div {
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

h1, h2 {
  font-family: MaximumSecurity;
}

h1 {
  font-size: 2.8rem;
}

h1 a span {
    display: none;
}

h1 a {
    color: #4ef5ff;
}

h1 a:hover {
    color: #1ae09d;
}

h1 a:hover span {
    display: inline;
}

h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.7rem;
    margin: 10px 0 10px 0;
}

section {
    background-color: rgba(255, 255, 255, 0.48);
    border-radius: 2px;
    margin: 30px auto;
    max-width: 800px;
    padding: 20px;
}

section > * {
    font-weight: 100;
}

section p {
    margin-bottom: 10px;
}

section p, section li {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

section > ol {
    list-style-type: decimal;
    margin-left: 20px;
}

section > ol > li {
  margin-bottom: 15px;
}

section > ol li span {
    color: #15c186;
}

section ol li ul {
    margin-left: 20px;
}

section ol li ul li {
    margin: 5px 0;
}

section h3 {
    color: #777;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

a {
    color: #15acba;
    text-decoration: none;
}

pre {
    background-color: #eee;
    margin: 10px 20px 10px 0;
    overflow-x: scroll;
    padding: 10px 0;
}

code {
    font-family: monospace;
    font-size: 1rem;
}

footer {
    margin: 0 auto;
    max-width: 820px;
    padding: 20px 0;
    text-align: center
}

footer p {
    color: #777;
}
