/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'NeoRetroDraw';
    src: url('NEORD___-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #eee;
    color: #555;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2, h3 {
  font-family: NeoRetroDraw;
  font-weight: 100;
}

h1 {
    font-size: 2.2rem;
    margin: 0 0 20px;
}

h1 a {
    color: #444;
}

h1 a:hover {
    color: #1ae09d;
}

h2 {
    color: #444;
    font-size: 1.9rem;
    margin: 30px 0 10px 0;
}

section {
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 2px;
    margin: 30px 0;
    max-width: 900px;
    padding: 10px;
}

section > * {
    font-weight: 100;
}

section p, section li {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

section > ol {
    list-style-type: decimal;
    list-style-position: inside;
}

section > ol > li {
  margin-bottom: 15px;
}

section > ol li span {
    color: #15c186;
}

section ol li ul {
    margin-left: 20px;
}

section ol li ul li {
    margin: 5px 0;
}

section h3 {
    color: #777;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

a {
    color: #15acba;
    text-decoration: none;
}

pre {
    background-color: #eee;
    margin-right: 20px;
    margin-top: 10px;
    overflow-x: scroll;
    padding: 10px 0;
}

code {
    font-family: monospace;
    font-size: 1rem;
}

footer p {
    color: #777;
}
